<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <link href="/site.css" rel="stylesheet">
  <body class="bg-slate-500">
    <menu class="border-2">
      MENU
      <li>
	<a href="/">Index</a>
      </li>
    </menu>
    ABOUT
    <hr>

    INSERT LOGO HERE

    <h1 th:text="${Name}">qqq</h1>
    <h2 th:text="${Address}">qqq</h2>
    <h3 th:text="'__${City}__, __${State}__ __${Zip}__'">qqq</h3>

    <h4 th:text="${Phone}">qqq</h4>
  </body>
</html>
